<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="container">
            <textarea disabled id="chatroom" style="height:300px; max-height:300px; width:600px"></textarea><br />
            <input id="name" style="width:130px" value="lpolling" />
            <input id="words" style="width:460px" />
        </div>
        <script type="text/javascript"> 

            var min = {{timestamp}};
            var waiting_for_update = false;


            function load_data() {
                var chatroom = document.getElementById('chatroom');
                xhr = new XMLHttpRequest(); 
                xhr.open('GET', '/update/' + min, false);
                xhr.onload = function() {
                    response = JSON.parse(this.responseText);
                    min = response.timestamp;
                    chatroom.innerHTML += response.data;
                    chatroom.scrollTop = chatroom.scrollHeight;
                };
                xhr.send();
            }

            function wait_for_update() {
                if (!waiting_for_update) {
                    waiting_for_update = true;
                    xhr = new XMLHttpRequest();
                    xhr.timeout = 60000;
                    xhr.open('GET', '/lpolling_notify', true);
                    xhr.onload = function() {
                        load_data();
                        waiting_for_update = false;
                        console.log(this.responseText);
                        setTimeout(function() { wait_for_update();}, 50);
                    }
                    xhr.onerror = function() {
                        waiting_for_update = false;
                        console.log("Connection colosed. Retry after 10s"); 
                        setTimeout(function() { wait_for_update();}, 10000);
                    }
                    xhr.cancel = function() {
                        waiting_for_update = false;
                        console.log("Connection colosed. Retry after 10s"); 
                        setTimeout(function() { wait_for_update();}, 10000);
                    }
                    xhr.send();
                }
            }

            function send_data() {
                var name = document.getElementById('name');
                var words = document.getElementById('words');
                if (name.value != '' && words.value != '') {
                    data = {}
                    data.name = encodeURIComponent(name.value);
                    data.words = encodeURIComponent(words.value);
                    
                    xhr = new XMLHttpRequest();
                    xhr.open('POST', '/publish', true);
                    xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                    xhr.send('name=' + data.name + '&words=' + data.words);
                    words.value = ''
                }
            }
            (function() {
                var words = document.getElementById('words');
                words.onkeypress = function(e) { if (e.keyCode == 13) send_data();} 
                
                load_data();
                wait_for_update();
            })();

        </script>
    </body>
</html>
