<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="content"></div>
        <script type="text/javascript"> 

            var waiting_for_update = false;

            function load_data() {
                var content = document.getElementById('content');
                xhr = new XMLHttpRequest(); 
                xhr.open('GET', '/update', false);
                xhr.onload = function() {
                    content.innerHTML = this.responseText;
                };
                xhr.send();
            }

            function wait_for_update() {
                if (!waiting_for_update) {
                    waiting_for_update = true;
                    xhr = new XMLHttpRequest();
                    xhr.timeout = 60000;
                    xhr.open('POST', '/lpolling_notify', true);
                    xhr.onload = function() {
                        load_data();
                        waiting_for_update = false;
                        wait_for_update();
                    }
                    xhr.send();
                }
            }

            //  wait for server response
            load_data();
            wait_for_update();

        </script>
    </body>
</html>
